<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cravious</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/owl.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/prettyPhoto.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/animate.css') }}">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-top text-right">
            <div class="social">
				<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
				<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
				<a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a>
				<a href="#" class="vine"><i class="fa fa-vine"></i></a>
				<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
			</div>
        </div>
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-ellipsis-v"></i>
			</button>
			<a class="navbar-brand" href="#">LOGO</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="index.html">Home</a></li>
				<li class="dropdown active">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">How it Works? <span class="caret"></span></a>
		          <ul class="dropdown-menu animated pulse" role="menu">
		            <li><a href="about.html">About</a></li>
		            <li><a href="features.html">Features</a></li>
		            <li><a href="plans_and_pricings.html">Plans and Pricings</a></li>
		          </ul>
		        </li>
				<li class="dropdown active">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
		          <ul class="dropdown-menu animated pulse" role="menu">
		            <li><a href="blog.html">Blog List</a></li>
		            <li><a href="blog_single.html">Blog Single</a></li>
		          </ul>
		        </li>
		        <li class="dropdown active">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Job Seekers <span class="caret"></span><sup class="pill blue">10</sup></a>
		          <ul class="dropdown-menu animated pulse" role="menu">
		            <li><a href="profile_employer.html">Employer Profile</a></li>
		            <li><a href="job_search.html">Job Search</a></li>
		          </ul>
		        </li>
				<li class="dropdown active">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employeers <span class="caret"></span><sup class="pill blue">48</sup></a>
		          <ul class="dropdown-menu animated pulse" role="menu">
		            <li><a href="profile_worker.html">Worker Profile</a></li>
		            <li><a href="employers_list.html">Search Employers</a></li>
		            <li><a href="worker_search.html">Worker Search</a></li>
		          </ul>
		        </li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>







<header>
	<form class="col-md-3 col-md-offset-3 col-sm-6 col-xs-12 job-form">
		<h3>Go Cravious for your next short-term job <i class="fa fa-arrow-right small-icon"></i></h3>
		<input type="text" class="form-control white" placeholder="Keyword e.g. (Job Title, Description)">
		<input type="text" class="form-control white" placeholder="Location e.g. (Postal Code, Zip... )">
		<div class="col-md-6 no-padding">
			<a href="#" class="dropdown-input white">Time of day</a>
			<ul class="dropdown">
				<li><a href="#">Morning</a></li>
				<li><a href="#">Noon</a></li>
				<li><a href="#">Afternoon</a></li>
			</ul>
		</div>
		<div class="col-md-6 no-padding">
			<a href="#" class="dropdown-input white">Weekday</a>
			<ul class="dropdown">
				<li><a href="#">Monday</a></li>
				<li><a href="#">Tuesday</a></li>
				<li><a href="#">Wendsday</a></li>
				<li><a href="#">Thursday</a></li>
				<li><a href="#">Friday</a></li>
				<li><a href="#">Saturday</a></li>
				<li><a href="#">Sunday</a></li>
			</ul>
		</div>
		<button type="submit" class="btn dark-red">
			Search for a job <i class="fa fa-chevron-right"></i>
		</button>
	</form>
	<div class="owl-carousel owl-header">
			<div class="item" data-background="{{ asset('assets/images/header.jpg') }}"></div>
			<div class="item" data-background="{{ asset('assets/images/header2.jpg') }}"></div>
			<div class="item" data-background="{{ asset('assets/images/header3.jpg') }}"></div>
		</div>
</header>




<script src="{{ asset('assets/js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ asset('assets/js/smoothWheel.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('assets/js/owl.carousel.js') }}"></script>

<script src="{{ asset('assets/js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ asset('assets/js/images-loaded.js') }}"></script>
<script src="{{ asset('assets/js/jquery.count.js') }}"></script>
<script src="{{ asset('assets/js/knobify.js') }}"></script>

<script src="{{ asset('assets/js/main.js') }}"></script>





</body>
</html>
