<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bocor bootstrap 3 one page template</title>
	
    <!-- css -->
    <link href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
	
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="site-logo">
                            <a href="index.html" class="brand">Bocor</a>
                        </div>
                    </div>


                    <div class="col-md-10">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                            <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav navbar-right">
                                  <li class="active"><a href="#intro">Home</a></li>
                                  <li><a href="#about">About Us</a></li>
                                   <li><a href="#service">Services</a></li>
                                  <li><a href="#works">Works</a></li>				                                                                  
                                  
                                  <li><a href="#contact">Contact</a></li>
                            </ul>
                            <!-- <a role="button" href="#" class="btn btn-lg btn-primary">Sign up today</a> -->
                        </div>
                        <!-- /.Navbar-collapse -->

                    </div>
                </div>
            </div>
            <!-- /.container -->
        </nav>
    </div> 
    <!-- /Navigation -->  
    
    
	
    {% block body %}{% endblock %}
	

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ul class="footer-menu">
						<li><a href="#">Home</a></li>
						<li><a href="#">Press release</a></li>
					</ul>
				</div>
				<div class="col-md-6 text-right">
					<p>&copy;Copyright 2014 - Bocor. Designed by <a href="http://bootstraptaste.com">Bootstrap Themes</a></p>
                    <!-- 
                        All links in the footer should remain intact. 
                        Licenseing information is available at: http://bootstraptaste.com/license/
                        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Bocor
                    -->
				</div>
			</div>	
		</div>
	</footer>

    <!-- Core JavaScript Files -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>	 
    <script src="{{ asset('assets//js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('assets/js/custom.js') }}"></script>
	{% block javascripts %}{% endblock %}
    
</body>

</html>
